# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/gisenv
/dataset_entire_indus
/shapefiles_that_couldnt't_make_it
/2026-02-05_05-02
.env
ww/ww
downloads_era5_pressure
downloads_era5_daily